.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.button {
  background-color: var(--secondary-color);
  border: 2px solid var(--contrast-color);
  color: var(--text-alternative);
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
}

.button:hover,
.button:focus {
  background-color: var(--contrast-color);
  color: var(--text-color);
  box-shadow: 0 4px 8px var(--shadow-color);
  outline: none;
}

.button svg {
  stroke: var(--text-alternative);
  width: 20px;
  height: 20px;
}

.button:hover svg,
.button:focus svg {
  stroke: var(--text-color);
}
